@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Work+Sans:wght@300;400;600;700&display=swap');

* {
    font-family: 'Work Sans';
}

.body {
    width: 1920px;
    padding: 0 0 240px;

}

main {
    /* padding: 0 0 240px; */
    /* padding: 0 0 240px; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    background-color: #FFFFFF;

}

.left-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.left-nav h3 {
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;

}

.g {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.right-nav a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;

}

.right-nav img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.right-nav li {
    list-style: none;
}

.nav-btn {
    width: 262px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.goat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.goat-image1 img {
    /* width: 700px; */
    object-fit: contain;
    width: 500px;
}

.goat-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translate(-50%, -50%);
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.goat-t-container {
    display: flex;

    align-items: center;
    /* border: 1px solid black; */
    position: relative;

}

.goat-t-container img {
    width: 80%;
    height: 80%;
}

.goat-text h3 {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    /* position: relative;
    margin-top: -100px; */
    margin: 0 auto;

}

.goat-text h2 {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
}

.goat-text p {
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin: 0 auto;
}

.goat-image1 img {
    width: 80%;
}

.goatsignin {
    width: 130px;
    height: 40px;
    margin-top: 20px;
    /* padding: 21px 40px; */
    border-radius: 48px;
    /* text-align: right; */
    border: 0;
    color: White;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}


.goatgorogue {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    /* padding: 21px 40px; */
    border-radius: 48px;
    border: 0px;
    color: White;
    border-radius: 48px;
    background: #4EC5F7;
}


.wergamer {
    /* margin: 0 0 240px; */
    /* border: 1px solid black; */
    /* width: 80%; */
    /* width: 1200px; */
    /* padding-right:240px;
    padding-left: 240px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.wergamer-text {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    flex-direction: column;
}

.wergamer-text h2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

.wergamer-text p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.wergamer-text h4 {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

.wergamer-image1 img {
    /* object-fit: contain; */
    width: 600px;
    padding-left: 60px;
    /* border: 1px solid black; */

}

.wergamer-image1 {
    /* border: 1px solid black; */
}

.wergamer-t-container {
    width: 800px;
    padding-right: 100px;
}

.onlinegame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 240px;
}

.onlinegame>p {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.onlinegame>h2 {
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
}

.onlinegame span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.card-text {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.card-conatiner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:24px;
}

iframe {
    width: 300px;
    height: 350px;
    border-radius: 16px;
}



iframe:hover {
    border: 1px solid rgb(160, 17, 17);
    width: 318px;
    height: 378px;
}

.iconlist {
    height: 60vh;
    margin-top: 0 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.first-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.r-btn {
    margin: 10px;
    border-radius: 50px;
    background: #FFF;
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
}

.r-btn>img {
    width: 50%;
}

.r-btn:hover {
    border: 2px solid pink;
    color:#F948B2
}

footer {
    height: 60vh;
    background: #0B0223;
    padding: 100px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}


.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.footer-logo h3 {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    color: white;
}



.redf {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-texts {
    /* margin-top: 8vh; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-texts p {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.footer-icon {
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;


}

.footer-icon img {
    width: 40px;
    height: 40px;
    cursor: pointer
}

.terms {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

footer>p {
    margin: 20px auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.playinstantly{
    display: flex;
    align-items: center;
    justify-content: center;
    width:80vw;
    /* border: 1px solid black; */
    /* margin: 0 auto; */
}

.pins-text{
  /* width: 100%; */
    /* border:1px solid red; */
    /* width: 200px; */
    /* text-align: right; */
    margin-left:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pins-text h3{
    font-size: 48px;
font-style: normal;
font-weight: 700;
text-align: center;
width: 450px;
}

.pins-text p{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 450px;

    
}

.pins-img{
    position: relative;
    height: 45rem;
    /* margin-left:300px; */
}

.large-img{
    position:relative;
    /* top:0; */
}
.small-img{
    position:relative;
    z-index: 1;
    bottom: 400px;
    border:5px solid white;
    border-radius: 10px;
} 